@charset "UTF-8";

/* Google font CDN */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&family=Merienda:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Salsa&display=swap');

/* My Color Variables */
:root {
    --hover: #6ddf5e;
    --white: #fff;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --key: #131514;
    --black: #000;
    /* My Font Variables */
    --font-1: "Salsa", cursive;
    --font-2: "Caveat", cursive;
    --font-3: "Caveat Brush", cursive;
}
/* Start Basic style  */
*{
  font-family: var(--font-1);
}
.sub-heading{
  font-family: var(--font-3);
}
p{
  font-family: var(--font-2);
  font-weight: 500;
  text-align: justify;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    background-color: var(--white);
    overflow-x: hidden;
    color: var(--black);
}
/*// Start Basic style  */
/* Start header Style */
.navbar img{
    height: 50px;
}
.navbar li{
    margin-left: 20px;
}
.navbar a:hover{
    color: var(--hover) !important;
}
/*// Start header Style */
/* Start Banner Style */
.banner img{
    height: 100vh;
    width: 100%;
}
/*// Start Banner Style */
/* Extra section style  */
/* contact page style  */
.name li{
    margin: 20px 0;
}
.name b:hover{
    display: block;
    padding: 10px;
    background-color: var(--gray-300);
    color: var(--hover);
    border-radius: 6px;
}
/*// contact page style  */
/* Extra section style  */
